<app-password (passwordChange)="datosComponent.updatePassword($event)"></app-password>
<app-email (emailChange)="datosComponent.updateEmail($event)"></app-email>
<app-texto (textoChange)="datosComponent.updateTexto($event)"></app-texto>

<app-btn-primario (buttonClicked)="datosComponent.triggerAnimation()"></app-btn-primario>
<app-btn-secundario (buttonClicked)="datosComponent.triggerAnimation()"></app-btn-secundario>
<app-btn-aceptar (buttonClicked)="datosComponent.triggerAnimation()"></app-btn-aceptar>
<app-btn-cancelar (buttonClicked)="datosComponent.triggerAnimation()"></app-btn-cancelar>
<app-btn-oscuro (toggleDarkMode)="datosComponent.toggleDarkMode()"></app-btn-oscuro>